[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
apache-airflow = "*"
apache-airflow-providers-postgres = "*"
rpy2 = "*"
black = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.8"
